body {
    background-color: darkslategray;
    color: ghostwhite;
    padding: 50px;
}

a {
    text-decoration: none;
    color: ghostwhite;
}

td, th {
    color: darkseagreen;
}

h1 {
    padding-bottom: 15px;
}

.centerCell {
    text-align: center;
}

.leftCell {
    text-align: left;
}



